{{ partial "head.html" . }}

<body>
    <div class="main animated fadeIn">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="list_with_title">
                {{ range .Data.Pages.GroupByDate "2006" }}
                <div class="listing_title">{{ .Key }}</div>
                <div class="listing">
                    {{ range .Pages }}
                    <div class="listing_item">
                        <div class="listing_post">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            <div class="post_time"><span class="date">{{ .Date.Format "02.01." }}</span></div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div class="pagination"></div>
        </div>
        <a id="back_to_top" href="#" class="back_to_top"><i class="icon baseline"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="currentColor"><path d="M11.9999 10.8284L7.0502 15.7782L5.63599 14.364L11.9999 8L18.3639 14.364L16.9497 15.7782L11.9999 10.8284Z"></path></svg></i></a>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>