// Resets

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  overflow-x: hidden;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
} */
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

// Accessability

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::selection {
  background-color: #e42b2b;
  color: white;
}

.markdown strong,
.markdown b,
.markdown em {
  padding: 1px 2px;
  background-color: #ffffff;
  font-weight: 600;
}

.header .my_socials a:hover {
  color: #e42b2b;
}

.header .my_socials a {
  color: #5f5f5f;
  font-size: 12px;
  float: none;
  cursor: pointer;
}

.header .site_title_container .site_title a:hover {
  color: #e42b2b;
}

.header .site_title_container .site_title a {
  font-size: 35px;
  width: 65px;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #000000;
  font-weight: 400;
}

reddot::after {
  content: attr(data-end);
  color: #e42b2b;
}

/* #### Kontaktformular ### */

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background: transparent;
  border-radius: 1px;
  margin-bottom: 30px;
  padding: 0 0 10px;
  border-width: 0 0 1px;
  border-color: #e42b2b;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-appearance: none;
  height: 42px;
}

/* Style the label to display next to the inputs */

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
#abschicken {
  background-color: #e42b2b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 500ms;
}

input[type="submit"]:hover {
  background-color: #1f1f1f;
}

/* Style the container */
.formcontainer {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
}

/* Floating column for labels: 35% width */
.col-25 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  width: 75%;
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75 {
    width: 100%;
    margin-top: 15px;
  }
  #abschicken {
    max-width: 60%;
    margin-top: 15px;
    font-size: 1.3rem;
  }
}

/* Pix */
.img-33l {
  display: block;
  margin-right: auto;
  max-width: 33%;
  padding-right: 5px;
  padding-top: 10px;
  float: left;
}

.img-49l {
  display: block;
  margin-right: auto;
  max-width: 49%;
  clear: right;
  float: left;
  padding: 10px;
}

.img-49r {
  display: block;
  margin-right: auto;
  margin-top: 20px;
  max-width: 49%;
  float: right;
}

.img-33c {
  display: block;
  margin-right: auto;
  max-width: 33%;
  padding: 5px;
  float: center;
}
.img-100c {
  display: block;
  margin-right: auto;
  max-width: 100%;
  padding: 5px;
  float: center;
}
.img-33r {
  display: block;
  margin-right: auto;
  max-width: 33%;
  padding: 5px;
  float: right;
}
/* for screenreaders: Navigation überspringen */
.skip-nav-link {
  position: absolute;
  transform: translateY(-220%);
  padding: 1rem;
  background: #f7f7f7;
  border-radius: 0 0 5px 5px;
  left: 25%;
  z-index: 10;
}

.skip-nav-link:focus {
  transform: translateY(0);
  transition: transform 350ms ease-in;
  color: #e42b2b;
}

h3:target {
  text-decoration: underline wavy #e42b2b;
}

#custom-search {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#custom-search-results {
  text-align: center;
}
#custom-search-results ul {
  text-align: initial;
}

#custom-search-title {
  text-align: center;
  margin-bottom: 50px;
}

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-left: 5px;
}

.pagination {
  border-bottom: none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .main,
  .post {
    background-color: #1f1f1f;
  }
  p,
  .post .post_title a,
  .site_title_container .site_title a {
    color: #fff;
  }

  .post .post_title span {
    color: #c5c5c5;
  }

  body {
    background-color: #323030;
    color: white;
  }

  .main {
    -webkit-box-shadow: none;

    box-shadow: none;
  }

  .header .site_title_container .site_title a {
    color: #fff;
  }

  label {
    color: rgb(152, 152, 152);
  }

  a:link,
  a:visited {
    color: #a19f9f;
  }

  .post .post_footer .meta .tags a:hover {
    color: #faf8f8;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    color: #fff;
  }

  footer .powered_by p {
    display: none;
  }
}
