.markdown strong,
.markdown b,
.markdown em {
    padding: 1px 2px;
    background-color: #FFFFFF;
    font-weight: normal;
}

.header .my_socials a:hover {
    color: #e42b2b;
}

.header .my_socials a {
    color: #5f5f5f;
    font-size: 12px;
    float: none;
    cursor: pointer;
}

.header .site_title_container .site_title a:hover {
    color: #e42b2b;
}

.header .site_title_container .site_title a {
    font-size: 45px;
    width: 65px;
    letter-spacing: 2px;
    line-height: 1.2;
    color: #000000;
  }

reddot::after {
    content: attr(data-end) ;
    color: red ;
}

