<footer class="footer">
    <div class="footer_slogan">
        <span>{{ .Site.Params.footerSlogan }}</span>
    </div>
    <div class="powered_by">
        <a href="/posts/2021/tech/how-its-built/">Womit ist diese Seite gebaut?</a> </br> 
        <a href="/impressum-datenschutz/">Impressum & Datenschutz</a>

        <p style="color: #F7F7F7">Wenn ihr euch für verwandte Themen, wie z.B. Agroforst, Gewaltfreie Kommunikation, Gemeinschafts- und Selbstentwicklung oder Ökologie allgemein interessiert, schaut mal auf der <a style="text-decoration: none; color: #F7F7F7;" href="https://webinarwelt.siebenlinden.org" target=_blank>Webinarwelt Sieben Linden</a> vorbei. Dort gibt es Online-Kurse von sehr qulifizierten und erfahrenen Referent:innen zu allen möglichen Themen.</p>
    </div>
</footer>

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setExcludedQueryParams", ["cHash"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.siebenlinden.net/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '7']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->