<div class="container">
  <form name="Kontakt" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/success/">
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Dein Name.." required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="mail">E-Mail-Adresse</label>
      </div>
      <div class="col-75">
        <input type="text" id="mail" name="mail" placeholder="Deine E-Mail-Adresse.." required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="betreff">Betreff</label>
      </div>
      <div class="col-75">
        <input type="text" id="betreff" name="betreff" placeholder="Betrifft.." >
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Text</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="text" placeholder="Schreibe etwas.." style="height:200px" required></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Abschicken">
    </div>
  </form>
</div>
