<div class="formcontainer">
  <form name="kontaktformular" data-netlify-recaptcha="true" netlify-honeypot="bot-field" method="POST" action="/success/" netlify>
    <div class="row">
      <div hidden aria-hidden="true">
        <label>
          Don’t fill this out if you're human: 
          <input name="bot-field" />
        </label>
      </div>
    </div>
    <div class="row">
   
      <div class="col-75">
        <input type="text" id="name"  placeholder="Dein Name.." required name="name">
      </div>
    </div>
    <div class="row">
      
      <div class="col-75">
        <input type="text" id="mail"  placeholder="Deine E-Mail-Adresse.." required name="mail">
      </div>
    </div>
    <div class="row">
      
      <div class="col-75">
        <input type="text" id="betreff" placeholder="Betrifft.." name="betreff">
      </div>
    </div>
    <div class="row">
    
      <div class="col-75">
        <textarea id="subject" placeholder="Schreibe etwas.." style="height:200px" required name="text"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <p><div data-netlify-recaptcha="true"></div></p>
      </div>
      <input id="abschicken" type="submit" value="Abschicken">
    </div>
  </form>
</div>
