<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="Name" placeholder="Dein Name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="mail">E-Mail-Adresse</label>
      </div>
      <div class="col-75">
        <input type="text" id="mail" name="Mail-Adresse" placeholder="Deine E-Mail-Adresse..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="betreff">Betreff</label>
      </div>
      <div class="col-75">
        <input type="text" id="betreff" name="betreff" placeholder="Betrifft..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Text</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="text" placeholder="Schreibe etwas.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Abschicken">
    </div>
  </form>
</div>
