<div class="nav_container animated fadeIn">
    <div class="site_nav" id="site_nav">
        <ul>
            {{ range.Site.Menus.main }}
            <li>
                <a href="{{ .URL | safeURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="menu_icon">
        <a id="menu_icon"><i class="icon baseline"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM9 11H21V13H9V11ZM3 18H21V20H3V18Z"></path></svg></i></a>
    </div>
</div>
