
{{ partial "head.html" . }}
<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }} {{ partial "header.html" . }}
        <div class="content">
            <div class="post_page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post_title post_detail_title">
                        <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
                    </div>
                    <div class="post_content markdown">{{ .Content }}</div>

                    <form method="post" action="https://mailings.kiste.limo/subscription/form" class="listmonk-form">
                        <div>
                            <h3>Subscribe</h3>
                            <input type="hidden" name="nonce" />
                            <p><input type="email" name="email" required placeholder="E-Mail" /></p>
                            <p><input type="text" name="name" placeholder="Name (optional)" /></p>
                          
                            <p>
                              <input id="ef367" type="checkbox" name="l" checked value="ef36764b-84eb-4130-91ce-dcfff4f2d79a" />
                              <label for="ef367">website-formular</label>
                            </p>
                    
                            <p><input type="submit" value="Abonnieren" /></p>
                        </div>
                    </form>


                    {{ partial "form.html" .}}
                    <div class="post_footer">
                        {{ with .Params.tags }}
                        <div class="meta">
                            <div class="info">
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <a id="back_to_top" href="#" class="back_to_top"><i class="ri-arrow-up-s-line"></i></a> {{ partial "footer.html" . }} {{ partial "js.html" . }}
</body>

</html>